<!DOCTYPE html>
	<html>

<head>
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
</head>

<body>
    <div class="main-content">
        <h1>Weather App</h1>
        <p>Use this site to get the weather!</p>
        <p>Just in English!</p>

        <form>
            <input placeholder="Location" type="text">
            <button>Search Weather</button>
        </form>

        <h2 id="message-1"></h2>
        <h3 id="message-2"></h3>
    </div>
<script src="/js/app.js"></script>
</body>

</html>